<div class="card-body">
    <h4 class="card-title">Tareas</h4>
    <div class="table-responsive m-t-40">
        <table id="myTable" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Tarea</th>
                    <th>Categoria</th>
                    <th>Fecha</th>
                    <th>Finalizada</th>
                </tr>
            </thead>
            <tbody>
                <tr id="fila" *ngFor="let tarea of listTareas" (click)="mySelection(tarea)" [class.active]="tarea === tareaSelection">
                    <td>{{ tarea.descripcion }}</td>
                    <td>{{ tarea.categoria.descripcion }}</td>
                    <td>{{ tarea.fecha | date:'yyyy-MM-dd' }}</td>
                    <td>{{ tarea.finalizada }}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="button-group">                    
            <button type="button" class="btn waves-effect waves-light btn-outline-primary" (click)="redireccionarCrearTarea()">Crear Tarea</button>
            <button type="button" class="btn waves-effect waves-light btn-outline-warning margen" (click)="redireccionarFinalizarTarea()">Finalizar Tarea</button>
            <button type="button" class="btn waves-effect waves-light btn-outline-danger margen" (click)="redireccionarEliminarTarea()">Eliminar Tarea</button>
        </div>
    </div>
</div>
